<div
  class="secciones scrollspy-example"
  data-bs-spy="scroll"
  data-bs-target="#list-secciones"
  data-bs-offset="0"
  tabindex="0"
>
  <app-perfil [persona]="persona" [login]="login"></app-perfil>
  <app-acercade [persona]="persona" [login]="login"></app-acercade>
  <app-experiencia [persona]="persona" [login]="login"></app-experiencia>
  <app-historial-academico
    [persona]="persona"
    [login]="login"
  ></app-historial-academico>
  <app-cursos-realizados
    [persona]="persona"
    [login]="login"
  ></app-cursos-realizados>
  <app-hard-skills [persona]="persona" [login]="login"></app-hard-skills>
  <app-soft-skills [persona]="persona" [login]="login"></app-soft-skills>
  <app-proyectos [persona]="persona" [login]="login"></app-proyectos>
  <!-- FOOTER -->
  <footer>
    <p><strong>&copy;David Omar Ghiano</strong> - 2022</p>
  </footer>
</div>
