<div
  class="secciones scrollspy-example"
  data-bs-spy="scroll"
  data-bs-target="#list-secciones"
  data-bs-offset="0"
  tabindex="0"
>
  <app-perfil
    [persona] = "persona"
  ></app-perfil>
  <app-acercade
    [persona] = "persona"
  ></app-acercade>
  <app-experiencia
    [persona] = "persona"
  ></app-experiencia>
  <app-historial-academico
    [persona] = "persona"
  ></app-historial-academico>
  <app-cursos-realizados
    [persona] = "persona"
  ></app-cursos-realizados>
  <app-hard-skills
    [persona] = "persona"
  ></app-hard-skills>
  <app-soft-skills
    [persona] = "persona"
  ></app-soft-skills>
  <app-proyectos
    [persona] = "persona"
  ></app-proyectos>
  <!-- FOOTER -->
  <footer>
    <p><strong>&copy;David Omar Ghiano</strong> - 2022</p>
  </footer>
</div>
