<div
  class="secciones scrollspy-example"
  data-bs-spy="scroll"
  data-bs-target="#list-secciones"
  data-bs-offset="0"
  tabindex="0"
>
  <app-perfil></app-perfil>
  <app-acerca-de></app-acerca-de>
  <app-experiencia></app-experiencia>
  <app-historial-academico></app-historial-academico>
  <app-cursos-realizados></app-cursos-realizados>
  <app-hard-skills></app-hard-skills>
  <app-soft-skills></app-soft-skills>
  <app-proyectos></app-proyectos>
  <!-- FOOTER -->
  <footer>
    <p><strong>&copy;David Omar Ghiano</strong> - 2022</p>
  </footer>
</div>
