html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2;
  background-color: #e6e6e6;
}
:root {
  /*Colores*/
  --colorPrincipal: #1c989d;
  --colorPrincipalDark: #0d4c4e;
  --colorSecundario: #e36661;
  --colorSecundarioDark: #903633;
  --colorGris: #706f6f;
  /*Fuentes*/
  --fuentePrincipal: "Roboto", sans-serif;
  --fuenteSecundaria: "Open Sans", sans-serif;
}

/*GLOBALES*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fuentePrincipal);
  font-weight: 700;
  margin: 0 auto;
}
p {
  font-family: var(--fuenteSecundaria);
  font-size: 1.6rem;
  margin: 0;
  line-height: 2.3rem;
}
a{
  text-decoration: none;
  transition: color .3s ease-out;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 1rem;
}
h1.text-center::after {
  margin: 0 auto;
}
h1::after {
  content: " ";
  background-color: var(--colorPrincipal);
  width: 18rem;
  height: 0.3rem;
  display: block;
  margin-bottom: 1rem !important;
}

h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}
h4{
  font-size: 2rem;
}
img {
  max-width: 100%;
}
ul,
ol {
  line-height: 1.3;
}
li {
  margin-bottom: 0.6rem;
}

.redes a{
  font-size: 3rem;
  margin: 0 .3rem;
}

label.form-label{
  padding: .2rem 2rem 0 2rem;
  font-family: var(--fuenteSecundaria);
  font-size: 1.4rem;
  font-weight: bold;
}

input.form-control{
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  font-family: var(--fuenteSecundaria);
  font-size: 1.4rem;
}
textarea.form-control{
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  font-family: var(--fuenteSecundaria);
  font-size: 1.4rem;
}
select.form-select{
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  font-family: var(--fuenteSecundaria);
  font-size: 1.4rem;
}

/* UTILIDADES */
.btn {
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.6rem 3rem;
  border-radius: 1.3rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  color: white;
}
.btn-primario {
  background-color: var(--colorPrincipal);
}
.btn-primario:hover {
  background-color: var(--colorPrincipalDark);
}
.btn-secundario {
  background-color: var(--colorSecundario);
}
.btn-secundario:hover {
  background-color: var(--colorSecundarioDark);
}
.text-center {
  text-align: center;
}

/*NavBar*/
.navbar {
  background-color: var(--colorPrincipal);
  box-shadow: 0 5px 10px black;
  height: 5rem;
}

.logos a{
  border-right: 0.2rem solid white;
}
.logos a img {
  max-height: 2.5rem;
  padding-left:.2rem;
}
.logos a:last-of-type {
  border-right: none;
}
.navbar .redes a{
  color: white;
}
.navbar .redes a:hover{
  color: rgb(190, 190, 190);
}
.navbar-brand{
  margin: 0;
}
.redes-login{
  display: flex;
  align-items: center;
}
.redes-login .redes{
  display: none;
  /* margin-right: .7rem; */
}
@media (min-width: 769px){
  .redes-login .redes{
    display: block;
    margin-right: .7rem;
    line-height: 1;
  } 
}


/* Baner */
.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 35rem;
}

@media (min-width: 769px){
  .banner{
    height: 45rem;
  }
}

/*MAIN*/
.contenedor {
  margin: 0 auto;
  max-width: 95%;
  padding-bottom: 1rem;
  display: block;
  margin-top:-5rem !important;

}
@media (min-width: 769px){
  .contenedor{
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top:-10rem !important;
    position: relative !important;
  }
}

/* SIDEBAR */
.sidebar{
  display: none;
  position: relative;
}
@media (min-width: 769px){
  .sidebar{
    display: block;
    position:absolute !important;
    background-color: var(--colorPrincipal);
    width: 20%;
    min-height: 100vh;
    margin-right: 1rem;
  }
}

@media (min-width: 769px){
  .fixed{
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
  }
  .fixed-secciones{
    position: absolute !important;
    top: 0;
    left: 20%;
    max-width: 80%;
  }
}
.sidebar ul{
  text-transform: uppercase;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  text-align: left;
  list-style-type: none;
  line-height: 1;
  margin-top: 3rem;
  padding: 0;
}
.sidebar .list-group-item{
  background-color: var(--colorPrincipal);
  padding: 0;
} 
.sidebar .active {
  background-color: var(--colorSecundario);
  border: none;
}
.sidebar ul li{
  padding: 1.5rem 0 1.5rem 2rem;
  border-bottom: 2px solid white;
  margin: 0;
  transition: background-color .5s ease;
}
.sidebar ul a{
  color:white;
}
.sidebar ul li:hover{
  background-color: var(--colorSecundario);
}

/* SECTIONs*/

.secciones{
  width: 100%;
  background-color: white;
}
@media (min-width: 769px){
  .secciones{
    width: 79%;
    position:absolute;
    top: 0;
    left: calc(20% + 1rem);
  }
}
section {
  margin: 0 2rem;
  border-bottom: 0.17rem solid var(--colorGris);
}


.contenido {
  display: flex;
  border-bottom: 1px solid var(--colorSecundario);
  padding: 2rem 0;
}
.contenido:last-of-type{
  border:none;
}

.contenido img {
  max-width: 9rem;
  min-width: 9rem;
  max-height: 9rem;
  margin: 0 1rem;
}
.contenido-info p.info {
  font-weight: 600;
  color: var(--colorGris);
}
/* PERFIL */

.foto {
  margin: 0 auto;
  max-width: fit-content;
}

@media (min-width: 769px){
  .perfil{
    margin-top:2rem;
  }
  .perfil .foto{
    display:none;
  }
}

.perfil-info{
  text-align: center;
}

.perfil-info > div{
  display: flex;
  justify-content:space-between
}
.fa-pen, .fa-plus, .fa-trash{
  color: var(--colorPrincipal);
  margin: 0 1rem;
  align-self: center;
  transition: color .3s ease-in-out;
}
.fa-delete-left, .fa-pen, .fa-plus, .fa-trash, .fa-check{
  cursor:pointer;
}

.fa-pen{
  font-size: 2.2rem;
}
.fa-plus{
  font-size: 2.8rem;
}

.perfil-info .fa-pen:hover, .fa-plus:hover{
  color: var(--colorPrincipalDark);
}

.input-group-text i{
  font-size:2.2rem;
}

@media (min-width: 769px){
  .perfil-info{
    text-align:left;
  }
}

.fotoPerfil {
  max-width: 20rem;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: -10rem;
}
.perfil p.info {
  font-size: 1.8rem;
  font-weight: 600;
}

.perfil .redes{
  display:block;
}
@media (min-width: 769px){
  .perfil .redes{
    display: none;
  }
}
.perfil .redes a{
  color: var(--colorPrincipal);
}
.perfil .redes a:hover{
  color: var(--colorPrincipalDark)
}

/* Acerca de mi*/
.acercaDe-titulo{
  display: flex;
  justify-content: space-between;
}
.acercaDe-titulo h1{
  margin: 1rem 0 0 0;
}

.titulos-editar{
  display: flex;
  justify-content: space-between;
}

.titulos-editar h1{
  margin: 1rem 0 0 0;
}
/* Proyectos */

.proyectos h2 a{
  color: var(--colorPrincipal)
}
.proyectos h2 a:hover{
  color: var(--colorPrincipalDark);
}

/*FOOTER*/
footer{
  background-color: black;
  width: 100%;
  color: white;
  position: relative;
  z-index: 10 !important;
}
footer p{
  font-family: var(--fuentePrincipal);
  font-size: 1.4rem;
  text-align: center;
  padding: 2rem 0;
}


/*Barras de Progreso CIRCULAR*/
.circulos{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 1rem;
}

@media (min-width: 425px){
  .circulos{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (min-width: 546px){
  .circulos{
    grid-template-columns: repeat(3,1fr);
  }
}
@media (min-width: 769px){
  .circulos{
    grid-template-columns: repeat(4,1fr);
  }
}

.circle-wrap{
  margin: 2rem auto;
  width: 15rem;
  height: 15rem;
  background-color: #e6e6e6;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
  
}


.circle-wrap .circle .mask,
.circle-wrap .circle .fill{
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-radius: 50%;overflow: hidden;
}

.circle-wrap .circle .mask{
    clip: rect(0px, 17rem, 17rem,7rem);
}

.circle-wrap .inside-circle{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
    background: white;
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.circle-wrap .inside-circle img{
    max-width: 6rem;
    margin-top: 1.2rem;
}
.circle-wrap .inside-circle p{
    font-weight: 600;
    font-size:1.8rem;
    margin: 0;
}
.circle-wrap .inside-circle p.porce{
    color:var(--colorSecundario);
}


.mask .fill{
    clip: rect(0px, 8.8rem, 17.5rem, 0px);
    background: var(--colorPrincipal);
}

/* INICIO DE SESION*/

.modal-dialog{
  margin: 0 auto;
  max-width: 45rem;
}

.modal-content{
  border-radius: 2.5rem;
}
.modal-header button.btn-close{
  margin: 0;
}


.modal-footer{
  display: block;
}
.modal-footer button{
  width: 100%;
}