<!-- PERFIL -->
<section class="perfil pb-4" id="datos-personales">
  <div class="foto">
    <img
      src="../../../../../assets/img/perfil.jpg"
      alt="foto de perfil"
      class="fotoPerfil"
    />
  </div>
  <div class="perfil-info">
    <h1 class="text-center">David Omar Ghiano</h1>
    <p class="info">Estudiante de Analista de Sistema</p>
    <p class="">Villa María, Córdoba, Argentina</p>
    <div class="redes">
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
      <a href=""><i class="fa-brands fa-facebook-square"></i></a>
      <a href=""><i class="fa-brands fa-twitter-square"></i></a>
      <a href=""><i class="fa-brands fa-github-square"></i></a>
    </div>
  </div>
</section>
