  <!-- PROYECTOS -->
  <section class="proyectos" id="proyectos">
    <h1>Proyectos</h1>
    <div class="contenido">
      <img src="" alt="" />
      <div class="contenido-info">
        <h2>
          <a href="https://nervous-fermat-1c537a.netlify.app/" target="_blank">
            Buscador de imagenes
          </a>
        </h2>

        <p class="info">Pagina Web para buscar Imagenes</p>
        <p class="info">Tecnología Usada:</p>
        <ul class="mb-3">
          <li>React JS (create-react-app)</li>
          <li>API de Pixabar</li>
        </ul>
      </div>
    </div>
    <div class="contenido">
      <img src="" alt="" />
      <div class="contenido-info">
        <h2>
          <a href="https://pedantic-mcnulty-17ad5f.netlify.app" target="_blank">
            Agenda para Veterinario
          </a>
        </h2>

        <p class="info">Pagina Web para buscar Imagenes</p>
        <p class="info">Tecnología Usada:</p>
        <ul class="mb-3">
          <li>React JS (vite)</li>
          <li>Tailwind</li>
          <li>LocalStorage</li>
        </ul>
      </div>
    </div>
  </section>