  <!-- CURSOS REALIZADOS -->
  <section class="curso" id="cursos-realizados">
    <h1>Cursos Realizados</h1>
    <div class="contenido">
      <img src="" alt="" />
      <div class="contenido-info">
        <h2>Desarrollo Web Full Stack</h2>
        <p class="info">Argentina Programa</p>
        <p class="info mb-3">Noviembre 2021 | Mayo 2022</p>
        <a href="" class="btn btn-primario">Certificado</a>
      </div>
    </div>
    <div class="contenido">
      <img src="" alt="" />
      <div class="contenido-info">
        <h2>Desarrollo .NET</h2>
        <p class="info">Beca Neoris - UTN</p>
        <p class="info mb-3">Octubre | Diciembre 2021</p>
        <a href="" class="btn btn-primario">Certificado</a>
      </div>
    </div>
  </section>