<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="logos">
      <a class="navbar-brand" href="#">
        <img src="assets/img/APLogo-20-20.png" alt="" />
      </a>
      <a href="#" class="navbar-brand">
        <img src="assets/img/LogosInti.png" alt="" />
      </a>
    </div>
    <div class="redes-login">
      <div class="redes">
        <a 
          [href]="persona.urlLinkedin" 
          *ngIf="persona.urlLinkedin != null && persona.urlLinkedin != ''"
          target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a 
          [href]="persona.urlFacebook" 
          *ngIf="persona.urlFacebook != null && persona.urlFacebook != ''"
          target="_blank">
          <i class="fa-brands fa-facebook-square"></i>
        </a>
        <a 
          [href]="persona.urlTwitter" 
          *ngIf="persona.urlTwitter != null && persona.urlTwitter != ''"
          target="_blank">
          <i class="fa-brands fa-twitter-square"></i>
        </a>
        <a 
          [href]="persona.urlGithub" 
          *ngIf="persona.urlGithub != null && persona.urlGithub != ''"
          target="_blank">
          <i class="fa-brands fa-github-square"></i>
        </a>
        <a 
          [href]="persona.urlWeb" 
          *ngIf="persona.urlWeb != null && persona.urlWeb != ''"
          target="_blank">
          <i class="fa-brands fa-dribbble-square"></i>
        </a>
      </div>
      <button
        type="button"
        class="btn btn-secundario"
        data-bs-toggle="modal"
        data-bs-target="#login"
      >
        LOGIN
      </button>
    </div>
  </div>
</nav>

<app-iniciar-sesion></app-iniciar-sesion>