  <!-- HISTORIAL ACADÉMICO -->
  <section class="academico" id="historial-academico">
    <h1>Historial Académico</h1>
    <div class="contenido">
      <img src="../../../../assets/img/emmanuel-logo.png" alt="" />
      <div class="contenido-info">
        <h2>Instituto Superior Politécnico Córdoba</h2>
        <p class="info">
          Técnicatura Superior en Desarrollo Web y Aplicaciones Digitales
        </p>
        <p class="info mb-3">2021 | Actualmente en curso</p>
        <a href="" class="btn btn-primario">Plan de estudio</a>
      </div>
    </div>
    <div class="contenido">
      <img src="../../../../assets/img/emmanuel-logo.png" alt="" />
      <div class="contenido-info">
        <h2>Instituto Superior de Informática Virasoro</h2>
        <p class="info">Técnicatura Superior en Análisis de Sistema</p>
        <p class="info mb-3">2020 | Actualmente en curso</p>
        <a href="" class="btn btn-primario">Plan de estudio</a>
      </div>
    </div>
  </section>