<div 
  class="contenido"
  *ngFor="let experiencia of experiencias"
>
  <img [src]="experiencia.urlExperiencia | noimage" alt="Logo del negocio" />
  <div class="contenido-info">
    <div class="titulos-editar">
      <h2>{{ experiencia.nombre }}</h2>
      <div>
        <!-- (click)="onEditar($event, {{experiencia.idExperiencia  }})" -->
        <i  class="fa-solid fa-pen" *ngIf="login"></i>
        <i class="fa-solid fa-trash" *ngIf="login"></i>
      </div>
    </div>
    <p><small>{{ experiencia.posicion }} - {{ experiencia.jornada }}</small></p>
    <!-- Pasar las fechas por un Piper -->
    <p class="info">
      {{ experiencia.comienzo }} - 
      <span *ngIf="experiencia.finalizado == null || experiencia.finalizado == ''">
        Actualmente
      </span> 
      {{ experiencia.finalizado}}
    </p>
    <!-- <p class="info mb-3">{{ lugar.ciudad }}, {{ lugar.provincia }}, {{ lugar.pais }}</p> -->
    <!-- pasar los datos por un piper -->
    <ul>
        <li *ngFor="let actividad of experiencia.actividades">
          {{ actividad.nombre }}
        </li>
    </ul>
  </div>
</div>
