<div class="sidebar">
  <div class="foto">
    <img src="../../../../assets/img/perfil.jpg" alt="foto de perfil" class="fotoPerfil" />
  </div>
  <ul class="list-group" id="list-secciones">
    <a class="list-group-item list-group-item-action" href="#datos-personales">
      <li>Datos Personales</li>
    </a>
    <a class="list-group-item list-group-item-action" href="#acerca-de">
      <li>Acerca de mí</li>
    </a>
    <a class="list-group-item list-group-item-action" href="#experiencia">
      <li>experiencia</li>
    </a>
    <a
      class="list-group-item list-group-item-action"
      href="#historial-academico"
    >
      <li>Historial Académico</li>
    </a>
    <a class="list-group-item list-group-item-action" href="#cursos-realizados">
      <li>Cursos Realizados</li>
    </a>
    <a class="list-group-item list-group-item-action" href="#hard-skills">
      <li>Hard Skills</li>
    </a>
    <a class="list-group-item list-group-item-action" href="#soft-skills">
      <li>Soft Skills</li>
    </a>
    <a class="list-group-item" href="#proyectos">
      <li>Proyectos</li>
    </a>
  </ul>
</div>
