  <!-- SOFT SKILL-->
  <section class="softS" id="soft-skills">
    <div class="titulos-editar">
      <h1>Soft Skills</h1>
      <i class="fa-solid fa-plus" (click)="onAgregar()" *ngIf="!agregar && login"></i>
      <i class="fa-solid fa-minus" (click)="onAgregar()" *ngIf="agregar && login"></i>
    </div>
    <div class="circulos">
      <app-soft-skills-tarjeta
        *ngFor="let skill of persona.skills"
        [skill] = "skill"
        [index] = skill.idSkill
      ></app-soft-skills-tarjeta>
    </div>
  </section>
