<div 
  class="contenido"
  *ngFor="let academico of academicos"
  index = "academico.idAcademico"
>
  <img [src]="academico.urlLogo" [alt]="academico.nombre" />
  <div class="contenido-info">
    <div class="titulos-editar">
      <h2>{{ academico.nombre }}</h2>
      <div>
        <!-- (click)="onEditar($event, {{experiencia.idExperiencia  }})" -->
        <i  class="fa-solid fa-pen" *ngIf="login"></i>
        <i class="fa-solid fa-trash" *ngIf="login"></i>
      </div>
    </div>
    <p class="info">
      {{ academico.titulo }}
    </p>
    <p class="info mb-3">{{ academico.comienzo }} | 
        <span *ngIf="academico.finalizado == null">{{ academico.estado }}</span>
        <span *ngIf="academico.finalizado != null">{{ academico.finalizado }}</span>
    </p>
    <a [href]="academico.urlCarrera" class="btn btn-primario">Plan de estudio</a>
  </div>
</div>
