<!-- EXPERIENCIA -->
<section class="experiencia" id="experiencia">
  <h1>Experiencia</h1>
  <div class="contenido">
    <img src="../../../../assets/img/emmanuel-logo.png" alt="" />
    <div class="contenido-info">
      <h2>Librería Emmanuel</h2>
      <p><small>Dueño del negocio - Jornada Completa</small></p>
      <p class="info">Noviembre 2018 - Agosto 2021</p>
      <p class="info mb-3">Villa Nueva, Córdoba, Argentina</p>
      <ul>
        <li>
          Diseñador de publicidades, flyear, tarjetas de presentación y demás
          servicios de impresión.
        </li>
        <li>Edición de libros para editorial.</li>
        <li>Gestión de Impresión de revistas.</li>
        <li>Atención al público.</li>
        <li>Mantenimiento de páginas web y redes sociales.</li>
      </ul>
    </div>
  </div>
  <div class="contenido">
    <img src="../../../../assets/img/ecc-logo.svg" alt="" />
    <div class="contenido-info">
      <h2>Ediciones Crecimiento Cristiano</h2>
      <p><small>Empleado - Media Jornada</small></p>
      <p class="info">Julio 2015 - Octubre 2018</p>
      <p class="info mb-3">Villa Nueva, Córdoba, Argentina</p>
      <ul>
        <li>Impresión en maquinas digitales.</li>
        <li>Encuadernación y terminación de libros.</li>
        <li>Imprementación y mantenimiento en áreas informáticas.</li>
      </ul>
    </div>
  </div>
</section>
